div.container {
    justify-content: center;
    align-items: center;
}

#navbarSupportedContent > button.btn {
    margin-left: 10px;
}

td.logoTableData {
    min-width: 7.5%;
    max-width: 7.5%;
    justify-content: center;
    align-items: center;
}
